#anhdz1{
  float: left;
  background-color: gray;
  border: 1px solid gray;
  margin-top: -100px;
  text-align: left;
  padding: 10px;

}
#anhdz3{
  margin-top: 45px;
  margin-left: 255px;
  width: 1000px;
}
#anhdz{
  background-color: gray;
  text-align: center;
  width: 100%;

}

